.app-container{
    // height:100vh;
    background-color: rgba(202, 202, 121, 0.13);
}

.section-heading{
    position: fixed;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;
    background-color: yellow;
    width:100%;
    font-family: 'Jost', sans-serif;
    text-align: center;
    padding:2rem;
    margin-bottom:2rem;
    h2{
        font-weight: bold;
    }
}

.section-main{
    padding:10rem 0;
    font-family: 'Patrick Hand', cursive;
    #textarea-field{
        background: none;
        padding:10px;
        outline: none;
        font-size: 20px;
        height:120px;
        margin-bottom:20px;
        border:2px solid black;
    }
    .btn-translate{
        border:none;
        outline:none;
        border:2px solid black;
        padding:10px;
        border-radius:20px;
        background-color: yellow;
        font-size: 18px;
        font-weight: bold;
        margin-bottom:20px;
        display: block;
        &:hover{
            background-color: white;
        }
    }
    .text-msg{
        font-size: 16px;
        font-weight: bold;
        font-family: 'Jost', sans-serif;

    }
    .server-error-msg{
        font-size: 16px;
        font-weight: bold;
        font-family: 'Jost', sans-serif;
        text-align: center;
        color:red;
        padding:10px;
    }
    .output-field{
        font-size: 20px;
        padding:10px;
        border:2px solid black;
        border-radius: 20px;
        height:150px;
    }
}

.section-footer{
    position: fixed;
    bottom: 0;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    border-top-left-radius:30px ;
    border-top-right-radius:30px ;
    background-color: yellow;
    padding:10px;
    font-weight: bold;
    text-align: center;
    h2{
        padding:0;
        margin:0;
        font-weight: bold;
    }
    p{
        margin:0;
    }
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer a{
    display: inline-block;
}
.footer >p{
    font-size:18px;
    font-family: 'Jost', sans-serif;
    margin:0 auto;
  }
.footer-icon{
    width:30px;
    height:30px;
    background-color: black;
    border-radius:20%;
}